In [271]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [273]:
x = np.ones(5)

## Q#2: Create y array with elements equal to 0.

In [275]:
y = np.zeros(5)

## Q#3: Add x and y arrays.

In [277]:
x + y

array([1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [20]:
x.ndim, x.shape, x.size, x.dtype

(1, (5,), 5, dtype('float64'))

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [24]:
w = np.array([[11,12], [13,14], [15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [28]:
z = np.arange(1, 4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [282]:
newArray = np.concatenate((z, w.ravel()))

## Q#8: Print all elements of "newArray" using the loop.

In [163]:
for e in newArray:
    print(e)

1
2
3
11
12
13
14
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [284]:
print(newArray.shape)
newArray = newArray.reshape(1, 9)
print(newArray.shape)

(9,)
(1, 9)

## Q#10: Decrement all elements of "newArray" with 1.

In [286]:
newArray = newArray - 1

## Q#11: Find smallest and biggest values in "newArray".

In [226]:
newArray.min(), newArray.max()

(0, 15)

## Q#12: Print the first row of "newArray" using indexing.

In [228]:
newArray[0]

array([ 0,  1,  2, 10, 11, 12, 13, 14, 15])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [230]:
newArray[0][5]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [232]:
newArray[0][0], newArray[0][6]

(0, 13)

## Q#15: Change the shape of "newArray" to (9,1).

In [288]:
newArray = newArray.reshape(9, 1)
newArray.shape

(9, 1)

## Q#16: Change the shape of "newArray" to (3,2).

In [265]:
newArray = newArray[:6].reshape(3, 2)
newArray.shape

(3, 2)

# Well Done ðŸŽ‰